{% extends "base.html" %}

{% block content %}
	<h2> Creating new location</h2>

<form method ='POST' action='.'> {% csrf_token %}
					<dd>location</dd>
						<input type="text" name="location">

					<dd>Address</dd>
						<input type="text" name="address">
					<br>
					<label for="District">District</label>
					<br>
						<!--<input type="text" name="">-->
					<select id="District">
						<!--<p>Hong Kong Island</p>-->
						<option value="Central and Western">Central and Western</option>
						<option value="Eastern">Eastern</option>
						<option value="Southern">Southern</option>
						<option value="Wan Chai">Wan Chai</option>
						<!--<p>Kowloon</p>-->

						<option value="Kowloon City">Kowloon City</option>
						<option value="Kwun Tong">Kwun Tong</option>
						<option value="Sham Shui Po">Sham Shui Po</option>
						<option value="Wong Tai Sin">Wong Tai Sin</option>
						<option value="Yau Tsim Mong">Yau Tsim Mong</option>

						<!--<p>New Territories</p>-->
						<option value="Islands">Islands</option>
						<option value="Kwai Tsing">Kwai Tsing</option>
						<option value="North">North</option>
						<option value="Sham Shui Po">Sham Shui Po</option>
						<option value="Sai Kung">Sai Kung</option>
						<option value="Sha Tin">Sha Tin</option>
						<option value="Tai Po">Tai Po</option>
						<option value="Tsuen Wan">Tsuen Wan</option>
						<option value="Tuen Mun">Tuen Mun</option>
						<option value="Yuen Long">Yuen Long</option>

					</select>
					<dd>X Coord</dd>
						<input type="text">
					<dd>Y Coord</dd>
						<input type="text">
					<dd>Date From</dd>
						<input type="text">
					<dd>date To</dd>
						<input type="text">
					<dd>Detail</dd>
						<input type="text">
					<dd>Category</dd>
						<input type="text">
			<br>
          <button type='submit'>Insert</button>
</form>
<!--				<script>-->
<!--					function remind(){-->
<!--						alert("Creating successfully");-->
<!--					}-->
<!--				</script>-->
{% endblock %}
