{% extends "base.html" %}

{% block content %}
<h2> Table of Locations</h2>
	<div class="row">
		<div class='col-12'>
			<!--<a href="create">Create a new location record</a>-->


						<p>Location : {{object.location}}</p>
			<br>
						<p>Address : {{object.address}}</p>
			<br>
						<p>X-Coordinate : {{object.x_coord}}</p>
			<br>
						<p>Y-Coordinate : {{object.y_coord}}</p>
			<br>
						<p>Category : {{object.category}}</p>
			<br>




		</div>
	</div>

{% endblock %}
