{% extends "base.html" %}

{% block content %}
	<h2> Table of Locations</h2>
	<div class="row">
		<div class='col-12'>
			<h4 style="display:inline">Case Detail</h2>
			<a href="create">Create a new location record</a>
		
			<table class="table">
				<thead class="thead-dark">
					{% for object in object_list %}
					<tr>
						<th>Location</th>
						<th>Address</th>
						<th>X-Coordinate</th>
						<th>Y-Coordinate</th>
						<th>Category</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{object.location}}</td>
						<td>{{object.address}}</td>
						<td>{{object.x_coord}}</td>
						<td>{{object.y_coord}}</td>
						<td>{{object.category}}</td>
					</tr>
				</tbody>
					{% endfor %}
			</table>
		</div>
	</div>

{% endblock %}
