{% extends "base.html" %}

{% block content %}
	<h2> Table of Locations</h2>
	<div class="row">
		<div class='col-12'>
			<a href="create">Create a new location record</a>
		
			<table>
				{% for object in object_list %}
				<tr>
					<td><th>Location</th></td>
					<td>{{object.location}}</td>
				</tr>
				<tr>
					<td><th>Address</th></td>
					<td>{{object.address}}</td>
				</tr>
				<tr>
					<td><th>X-Coordinate</th></td>
					<td>{{object.x_coord}}</td>
				</tr>
				<tr>
					<td><th>Y-Coordinate</th></td>
					<td>{{object.y_coord}}</td>
				</tr>
				<tr>
					<td><th>Category</th></td>
					<td>{{object.category}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

{% endblock %}
