{% extends "base.html" %}

{% block title %}
Location Modify
{% endblock %}

{% block content %}
<h1>Modify the following Location</h1>
<hr>
{% if saved %}
	<div class="row">
		<div class="col-auto">
			<div class="alert alert-info" role="alert">
				Saved
			</div>
		</div>
	</div>
{% endif %}
<form method='POST' action='.'> {% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary" type="submit"> Save </button>
</form>
<div class="text-left">
		<a class="btn btn-primary" href="../.."> Back </a>
	</div>
<hr>



{% endblock %}
