{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-6">
		<h2 style="display:inline">Locations</h2>
		<a class="btn btn-primary" href="/location/create" style=>Add New Location</a>
	</div>

	<div class="col-6">
		<div class="text-right">
			<a class="btn btn-primary" href=".."> Back </a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Location</th>
					<th>Address</th>
					<th>District</th>
					<th>X Coord</th>
					<th>Y Coord</th>
					<th>Modify</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
					<tr>
						<td>{{ object.location }}</td>
						<td>{{ object.address }}</td>
						<td>{{ object.district }}</td>
						<td>{{ object.x_coord }}</td>
						<td>{{ object.y_coord }}</td>
						<td><a class="btn btn-primary" href="{{ object.get_location_modify_url }}" style=>Modify</a></td>
						<td><a class="btn btn-primary" href="{{ object.get_location_delete_url }}" style=>Delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
