{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class='col'>
		<h1> Trans-19 </h1>
		<br>
	</div>
</div>
<div class="row" style="background:lightgrey">
	<div class="col-3">
		<h5>Patient</h5>
	</div>
	<div class='col-6'>
		<table class="table table-responsive">
			<tr>
				<td>
					<a class="btn btn-primary" href="/case">Search</a>
				</td>
				<td>
					<a class="btn btn-primary" href="/case/create">Create</a>
				</td>
			</tr>
		</table>
	</div>
</div>
<br>
<div class="row" style="background:lightgrey">
	<div class="col-3">
		<h5>Location</h5>
	</div>
	<div class='col-6'>
		<table class="table table-responsive">
			<tr>
				<td>
					<a class="btn btn-primary" href="/location">Search</a>
				</td>
				<td>
					<a href="/location/create" class="btn btn-primary" role="button">Create</a>
				</td>
			</tr>
		</table>
	</div>
</div>
<br>
<div class="row" style="background:lightgrey">
	<div class="col-3">
		<h5>Connection search</h5>
	</div>
	<div class="col-auto">
		<table class="table table-responsive">
			<tr>
				<td>
					<a href="/search" class="btn btn-primary disabled" role="button" aria-disabled="true">Search</a>
				</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}
