{% extends "base.html" %}

{% block title %}
Intro
{% endblock %}

{% block content %}
<div class="row">
	<div class='col-8'>
		<h1>Trans-19 </h1>
		<h3>SARS-CoV-2 Transmission Tracking </h3>
	</div>
	<div class="col-4">
		<div class="text-right">
			<a href="/login" class="btn btn-primary">Login Here</a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col">
		<h4>Background</h4>
		<p>When a case of COVID-19 is confirmed in Hong Kong, the Centre for Health Protection (CHP) collects data about locations in Hong Kong visited by the patient in the 14 days prior to testing positive for the SARSCoV-2 virus. The data are used to alert the public about those locations and to help identify anyone who has recently been in close contact, either direct or indirect, with the patient. These data also help CHP better understand the patterns of virus transmission. As the number of confirmed cases increases, the amount of data handled by CHP also increases drastically.</p>
	</div>
</div>
{% endblock %}