{% extends "base.html" %}

{% block title %}
User Login
{% endblock %}

{% block content %}


<body>
<div id="login_frame">


    <form method="post" action=".">

        <p><label class="label_input"> username </label><input type="text" id="username" class="text_field"/></p>
        <p><label class="label_input"> password </label><input type="text" id="password" class="text_field"/></p>

        <div id="login_control">
            <input type="button" id="btn_login" value="login" οnclick="login();"/>
            <a id="forget_pwd" href="forget_pwd.html">forget password</a>
        </div>
    </form>
</div>

</body>

{% endblock %}