{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-6">
		<h4>Selected Case</h4>
	</div>
</div>
<div class='row'>
	<div class='col-12'>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Case Name</th>
					<th>Name</th>
					<th>Date Case Confirmed</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ selected_case.case_number }}</td>
					<td>{{ selected_case.name }}</td>
					<td>{{ selected_case.date_of_comfirmed }}</td>
				</tr>
			</tbody>
		</table>
		<h4>Selected Visit</h2>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>location</th>
					<th>Address</th>
					<th>District</th>
					<th>X Coord</th>
					<th>Y Coord</th>
					<th>Date From</th>
					<th>Date To</th>
					<th>Detail</th>
					<th>Category</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ selected_visit.location.location }}</td>
					<td>{{ selected_visit.location.address }}</td>
					<td>{{ selected_visit.location.district }}</td>
					<td>{{ selected_visit.location.x_coord }}</td>
					<td>{{ selected_visit.location.y_coord }}</td>
					<td>{{ selected_visit.date_from }}</td>
					<td>{{ selected_visit.date_to }}</td>
					<td>{{ selected_visit.detail }}</td>
					<td>{{ selected_visit.category }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class='row'>
	<div class="col-auto">
		<form method='POST' action='trace'> {% csrf_token %}
			{{ form }}
			<button type="submit" class="btn btn-primary"> Search </button>
		</form>
	</div>
</div>
<hr>
<hr>
{% if conn %}
<div class="row">
	<div class='col-6'>
		<h4>Possible Cases Connection</h4>
		<h4 style="display:inline">Location: (Location Name)</h4>
	</div>
</div>
<div class='row'>
	<div class='col-12'>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Case Number</th>
					<th>Name</th>
					<th>Date Case Comfirmed</th>
					<th>Common Location visited</th>
					<th colspan="2">Date Visited by this Patient</th>
					<th>Detail</th>
					<th colspan="2">Date Visited by Selected Patient</th>
					<th>Detail</th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Date from</th>
					<th>Date to</th>
					<th></th>
					<th>Date from</th>
					<th>Date to</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in conn %}
				<tr>
					<td>{{ item.case.case_number }}</td>
					<td>{{ item.case.name }}</td>
					<td>{{ item.case.date_of_comfirmed }}</td>
					<td>{{ item.location }}</td>
					<td>{{ item.date_from }}</td>
					<td>{{ item.date_to }}</td>
					<td>{{ item.detail }}</td>
					<td>{{ selected_visit.date_from }}</td>
					<td>{{ selected_visit.date_to }}</td>
					<td>{{ selected_visit.detail }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% endblock %}