{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-6">
		<h4>Selected Case</h4>
	</div>
</div>
<div class='row'>
	<div class='col-12'>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Case Name</th>
					<th>Name</th>
					<th>Date Case Confirmed</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ selected_case.case_number }}</td>
					<td>{{ selected_case.name }}</td>
					<td>{{ selected_case.date_of_comfirmed }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class='row'>
	<div class="col-auto">
		<form method='POST' action='trace'> {% csrf_token %}
			{{ form }}
			<button type="submit" class="btn btn-primary"> Search </button>
		</form>
	</div>
</div>
<hr>
<hr>
{% if conn %}
<div class="row">
	<div class='col-6'>
		<h4>Possible Cases Connection</h4>
	</div>
</div>
<div class='row'>
	<div class='col-12'>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Case Number</th>
					<th>Name</th>
					<th>Date Case Comfirmed</th>
					<th>Common Location visited</th>
					<th colspan="2">Date Visited by this Patient</th>
					<th>Detail</th>
					<th colspan="2">Date Visited by Selected Patient</th>
					<th>Detail</th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th>Date from</th>
					<th>Date to</th>
					<th></th>
					<th>Date from</th>
					<th>Date to</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for searched, selected in conn %}
				<tr>
					<td>{{ searched.case.case_number }}</td>
					<td>{{ searched.case.name }}</td>
					<td>{{ searched.case.date_of_comfirmed }}</td>
					<td>{{ searched.location }}</td>
					<td>{{ searched.date_from }}</td>
					<td>{{ searched.date_to }}</td>
					<td>{{ searched.detail }}</td>
					<td>{{ selected.date_from }}</td>
					<td>{{ selected.date_to }}</td>
					<td>{{ selected.detail }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% endblock %}