{% extends "base.html" %}

{% block content %}

<h1>Add a confirmed case</h1>

<p class="text-info">Reminder: date format is YYYY-MM-DD</p>

<form method='POST' action='.'> {% csrf_token %}
	{% for field in form %}
		<hr>
	    <div class="fieldWrapper">
	        {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	        {% if field.help_text %}
	        <p class="help">{{ field.help_text|safe }}</p>
	        {% endif %}
	    </div>
	{% endfor %}
	<hr>
	
	<button type="submit" class="btn btn-primary"> Confirm </button>

	
</form>
<br>
<a class="btn btn-primary" href=".."> Back </a>

{% endblock %}
