
{% extends "base.html" %}

{% block title %}
Case Detail
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-6">
		<h4 style="display:inline">Case Detail</h4>
	</div>
	<div class="col-6">
		<div class="text-right">
			<a href='{{ object_case.get_edit_url }}' class="btn btn-primary">Edit</a>
			<a href='{{ object_case.get_delete_url }}' class="btn btn-primary">Delete</a>
			<a class="btn btn-primary" href=".."> Back </a>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-12'>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th>Identity Document Number</th>
					<th>Date of Birth</th>
					<th>Date Case</th>
					<th>Case Number</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{object_case.name}}</td>
					<td>{{object_case.id_number}}</td>
					<td>{{object_case.date_of_birth}}</td>
					<td>{{object_case.date_of_comfirmed}}</td>
					<td>{{object_case.case_number}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class='col-6'>
		<h4 style="display:inline">Trace Connections</h4>
	</div>
	<div class="col-6">
		<div class="text-right">
			<a href="trace" class="btn btn-primary">Trace</a>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class='col-6'>
		<h4 style="display:inline">Location visited by this patient</h4>
	</div>
	<div class="col-6">
		<div class="text-right">
			<a href="visit/add/" class="btn btn-primary">Add Visit</a>
		</div>
	</div>
</div>

<div class="row">
	<div class='col-12'>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Location</th>
					<th>Address</th>
					<th>District</th>
					<th>X Coord</th>
					<th>Y Coord</th>
					<th>Date From</th>
					<th>Date To</th>
					<th>Detail</th>
					<th>Category</th>
					<th>Modify</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for visit in object_case.visitrecord_set.all %}
				<tr>
					<td>{{ visit.location.location }}</td>
					<td>{{ visit.location.address }}</td>
					<td>{{ visit.location.district }}</td>
					<td>{{ visit.location.x_coord }}</td>
					<td>{{ visit.location.y_coord }}</td>
					<td>{{ visit.date_from }}</td>
					<td>{{ visit.date_to }}</td>
					<td>{{ visit.detail }}</td>
					<td>{{ visit.category }}</td>
					<td><a class="btn btn-primary" href="visit/{{ visit.pk }}/modify" style=>Modify</a></td>
					<td><a class="btn btn-primary" href="visit/{{ visit.pk }}/delete" style=>Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
{% endblock %}
