{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-auto">
		<h2 style="display:inline">Cases</h2>
		<a class="btn btn-primary" href="/case/create" style=>Add New Case</a>
	</div>
</div>

<div class="row">
	<div class='col-12'>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th>Identity Document Number</th>
					<th>Date of Birth</th>
					<th>Date Case</th>
					<th>Case Number</th>
					<th>Details</th>
					<th>Trace Connections</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
				<tr>
					<td>{{object.name}}</td>
					<td>{{object.id_number}}</td>
					<td>{{object.date_of_birth}}</td>
					<td>{{object.date_of_comfirmed}}</td>
					<td>{{object.case_number}}</td>
					<td><a href='{{ object.get_absolute_url }}' class="btn btn-primary">View</a></td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
</div>

{% endblock %}
