<div class='col-12 col-md-10 mb-2 max-auto'>
	<div class='card'>
		<div class='card-body'>
			<h5 class='card-title'>
				Case {{ case_record.case_number }}
			</h5>
			<p class='card-text'>
				Name: {{ case_record.name }}<br>
				{% if detail %}
					Identity Document Number: {{ case_record.id_number }}<br>
					Date of Birth: {{ case_record.date_of_birth }}<br>
					Date on which the case was confirmed: {{ case_record.date_of_comfirmed }}<br>
				{% endif %}
			</p>

			{% if not detail %}
				<a href='{{ case_record.get_absolute_url }}'>View</a>
			{% endif %}
		</div>
	</div>
</div>