<div class = "visited location">
					<dd>location</dd>
						<input type="text" name="location">
					<dd>Address</dd>
						<input type="text" name="address">
					<dd>District</dd>
						<input type="text" name="district">
					<dd>X Coord</dd>
						<input type="text" name="X_coord">
					<dd>Y Coord</dd>
						<input type="text" name="Y_coord">
					<dd>Date From</dd>
						<input type="text" name="Date_from">
					<dd>date To</dd>
						<input type="text" name="Date_to">
					<dd>Detail</dd>
						<textarea type="text" name="Detail"></textarea>
					<dd>Category</dd>
						<input type="text" name="Category">

</div>