{% extends "base.html" %}

{% block content %}
	<h2> Creating new case</h2>
	<div class="personal information">
		<form method="post" action=".">
			<dd>Name</dd>
				<input type="text" name = "name">
			<dd>Identity Document Number</dd>
				<input type="text" name = "ID">
			<dd>Date of Birth</dd>
				<input type="date" name="Date_of_Birth">
			<dd>Date Case</dd>
				<input type="date" name=" Date_Case">
			<dd>Case Number</dd>
				<input type="text" name = "Case_Number">
		</form>
	</div>
<br>
			<a class="btn btn-primary" type="submit" href="" > Add </a>
			<a class="btn btn-primary" href="http://127.0.0.1:8000/"> Cancel </a>
<!--				<script>-->
<!--					function remind(){-->
<!--						alert("Creating successfully");-->
<!--					}-->
<!--				</script>-->
{% endblock %}