{% extends "base.html" %}

{% block content %}
<form method='POST' action='.'> {% csrf_token %}
	{{ form.as_p }}
	<button type="submit"> Add </button>
</form>

<!--	<h2> Creating new case</h2>
		<form method='POST' action=".">{% csrf_token %}
			<dd>Name</dd>
				<input type="text" name = "name">
			<dd>Identity Document Number</dd>
				<input type="text" name = "id_number">
			<dd>Date of Birth</dd>
				<input type="date" name="date_of_birth">
			<dd>Date Case</dd>
				<input type="date" name=" date_of_comfirmed">
			<dd>Case Number</dd>
				<input type="text" name = "case_number">
			<br>
			<br>
			<button type="submit"  > Add </button>
			<a class="btn btn-primary" href="http://127.0.0.1:8000/"> Cancel </a>
		</form>
-->

<!--				<script>-->
<!--					function remind(){-->
<!--						alert("Creating successfully");-->
<!--					}-->
<!--				</script>-->
{% endblock %}